!!!
%html
  %head
    %meta{charset: 'utf-8'}/
    %meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}/
    %meta{name: 'author', content: 'Roman Gusev'}
    %title Airbrake Explorer
    / Bootstrap core CSS
    %link{href:'/dist/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{href:'/dist/css/bootstrap-theme.min.css', rel: 'stylesheet'}

    / application styles
    %link{href: '/css/application.css', rel: 'stylesheet'}

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body
    = haml :navbar
    .container
      .body.app-body
      = yield
    /
      Bootstrap core JavaScript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => 'https://code.jquery.com/jquery-1.10.2.min.js'}
    %script{:src => '/dist/js/bootstrap.min.js'}
