%a{href: "/errors/#{error_id}/similar_errors/customize"} Customize
%table.table
  %tbody
    - notices.each do |notice|
      %tr
        %td
          %pre
            %code
              = preserve do
                = pretty_tag(notice.to_h)
